loop:
  device: "0"
  imgsz: 640

  conf_pass_threshold: 0.6
  allow_empty_boxes_pass: true

  pass_fail_policy:
    mode: "ratio"
    max_low_conf_ratio: 0.25
    drop_lowest_ratio: 0.20

  nms_conf_floor: 0.01
  max_det: 300

  max_rounds: 3

  fail_sampler:
    mode: "random"
    max_fail_per_round: 150

  use_teacher: true
  teacher_conf_th: 0.25

  use_gt_anchor: true
  gt_anchor_ratio: 0.3

  round_epochs: 1
  round_lr: 5.0e-5
  round_batch: 4
  round_workers: 2
  freeze_backbone: true
  freeze_layers: 10

  enable_fail_ratio_stop: false
  min_fail_ratio: 0.01

  enable_fail_count_stop: true
  min_fail_count: 300

  enable_metric_stop: false
  metric_name: "fail_ratio"
  min_improvement: 0.01
  patience_rounds: 1
export:
  export_root: "auto_labeling/v_1/data/final_export_local"
  export_conf: 0.3
  merge_pass: true
run:
  fail_dir: "auto_labeling/v_1/data/fail/images"
  student: "auto_labeling/v_1/models/user_yolo/weights/student_h10_init_latest.pt"
